@model SitemapParse.Models.URL
@{
    ViewBag.Title = "Parse";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <label>SiteMap Parse</label>
        </div>
    </section>
}

<div id="body">
  
       <form action="/URL/Create">
            <div class="content-wrapper">
                <div class="controls">
                    <label>URL:</label><input type="text" name="url" />
                    <br />
                    <label>Name:</label><input type ="text" name="name" />
                    <br />
                    <input type="submit" value="Go" style="width:100px;height:auto;"/>
                </div>
            </div>
       </form>
</div>

<div id="footer">
    <div class ="content-wrapper">
        <label>Info:</label>
            <text>
                Enter the URL of the sitemap you wish to acquire links from.
                <br /> 
                Please create a Folder called Selenium Files if you wish to 
                <br />
                archive both the STC and TXT files.  Otherwise only the STC 
                <br />
                file will be downloaded.
            </text>
    </div>
</div>