@model SitemapParse.Models.URL
@{
    ViewBag.Title = "Parse";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <label>SiteMap Parse</label>
        </div>
    </section>
}

<section>
  
       <form action="/URL/Create">
            <div class="content-wrapper">
                <div class="controls">
                    <label>URL:</label><input type="text" name="url" />
                    <br />
                    <label>Name:</label><input type ="text" name="name" />
                    <br />
                    <input type="submit" value="Go" style="width:100px;height:auto;"/>
                </div>
            </div>
       </form>
            
        


       
         
   
</section>